*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
  }
  
  body {
    max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;
  }
  
  /* designing the navigation menu */
  nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }
  
  /* designing the logo */
  nav img {
    width: 150px;
  }
  
  /* desiging the navigation menu links */
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 700;
  }
  
  nav ul li:first-child {
    font-weight: 700;
    color: #20bc7e;
  }
  
  a {
    text-decoration: none;
    color: black;
    transition: .3s;
}
a:hover{
  color: #20bc7e;
}
  main{
    display: flex;
    /* justify-content: center; */
    text-align: center;
    margin-top: 8%;
    border: none;
    margin-left: 38%;
    margin-right: 38%;
    padding: 7px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
main form h2{
    justify-content: center;
}
main form .formsvalues{
    margin-top: 5px;
}

.formsvalues input{ 
    width: 16rem; 
    margin-top: 10px;
    border-radius:8px ; 
padding: 3px;
border: none;
}

.formsvalues label{
    font-weight: 600;
    margin-right: 80%;
    margin-top: 10px;
}

.main form .formsvalues label {
    display: inline-block;
    width: 30%;
    text-align: left;
    font-weight: 700;
}

.formsvalues textarea{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 5px;
    border: none;
}

.formsvalues button{
    background: #20bc7e;
    width: 15.5rem;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    height: 2rem;
   border: none;
    margin-top: 10px;
    cursor: pointer;
}